#container {
  display: flex;
}

@media only screen and (min-width: 700px) {
  #main {
    padding-left: 20px;
    max-width: 70%;
  }

  #navigation {
    top: 40px;
    width: 100%;

    padding: 16px 20px 0 0;

    border-right: 1px solid #ccc;

    text-align: right;
  }

  #navigation h2 {
    text-transform: uppercase;

    font-size: 13px;

    color: #333;

    letter-spacing: 1px;

    line-height: 20px;
  }

  #navigation ul {
    list-style-type: none;

    margin: 20px 0;
  }

  #navigation li {
    font-size: 14px;

    line-height: 20px;
  }
}

@media only screen and (max-width: 699px) {
  #main {
    max-width: 100%;
  }

  #container {
    flex-wrap: wrap;
  }

  #navigation {
    width: 100%;

    padding: 16px 20px 0 0;

    text-align: left;
  }

  #navigation h2 {
    font-size: 24px;
  }

  #navigation ul {
    list-style-type: none;

    padding-left: 0px;
  }

  #navigation li {
    display: inline;

    margin: 20px 0;
  }
}
